<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <div id="app">
        <div class="caixas">
            <div class="demo" :style="{backgroundColor: cor}"></div>
            <div class="demo" :style="[meuEstilo, {height: altura}]"></div>
            <div class="demo"></div>
        </div>
        <hr>
        <input type="text" v-model="cor">
        <input type="text" v-model="largura">
    </div>
    <script src="script.js"></script>
</body>

</html>